In [108]:
import pandas as pd

In [109]:
df = pd.read_excel("mail.xlsx")

In [110]:
df.head()

,Unnamed: 0,SenderName,SenderEmail,Subject,Date,Time,Payload
0,0,Aesha Dhakan,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,08:13,"Aesha sent an invite. Respond now. Hi Jenil, I..."
1,1,Divy Sharma,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,07:13,"Divy, Cybersecurity Researcher at Ahmedabad Cy..."
2,2,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data scientist”: CLARA Analytics - Senior Dat...,1970-01-01 05:30:45.328,06:43,Your job alert for data scientist in United St...
3,3,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data analyst”: The 1% Club - Data Analyst and...,1970-01-01 05:30:45.328,06:43,Your job alert for data analyst in India 30 ne...
4,4,LinkedIn,messages-noreply@linkedin.com,GDSC-AIT mentioned you in a post,1970-01-01 05:30:45.328,06:32,GDSC-AIT mentioned you in a post View: Join th...

In [111]:
df = df.drop(columns=['Unnamed: 0'])

In [112]:
df.columns = df.columns.str.lower()

In [113]:
df.head()

,sendername,senderemail,subject,date,time,payload
0,Aesha Dhakan,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,08:13,"Aesha sent an invite. Respond now. Hi Jenil, I..."
1,Divy Sharma,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,07:13,"Divy, Cybersecurity Researcher at Ahmedabad Cy..."
2,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data scientist”: CLARA Analytics - Senior Dat...,1970-01-01 05:30:45.328,06:43,Your job alert for data scientist in United St...
3,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data analyst”: The 1% Club - Data Analyst and...,1970-01-01 05:30:45.328,06:43,Your job alert for data analyst in India 30 ne...
4,LinkedIn,messages-noreply@linkedin.com,GDSC-AIT mentioned you in a post,1970-01-01 05:30:45.328,06:32,GDSC-AIT mentioned you in a post View: Join th...

In [114]:
df['date']

0    1970-01-01 05:30:45.328
1    1970-01-01 05:30:45.328
2    1970-01-01 05:30:45.328
3    1970-01-01 05:30:45.328
4    1970-01-01 05:30:45.328
               ...
95   1970-01-01 05:30:45.309
96   1970-01-01 05:30:45.309
97   1970-01-01 05:30:45.309
98   1970-01-01 05:30:45.309
99   1970-01-01 05:30:45.308
Name: date, Length: 100, dtype: datetime64[ns]

In [115]:
df.head()

,sendername,senderemail,subject,date,time,payload
0,Aesha Dhakan,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,08:13,"Aesha sent an invite. Respond now. Hi Jenil, I..."
1,Divy Sharma,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,07:13,"Divy, Cybersecurity Researcher at Ahmedabad Cy..."
2,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data scientist”: CLARA Analytics - Senior Dat...,1970-01-01 05:30:45.328,06:43,Your job alert for data scientist in United St...
3,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data analyst”: The 1% Club - Data Analyst and...,1970-01-01 05:30:45.328,06:43,Your job alert for data analyst in India 30 ne...
4,LinkedIn,messages-noreply@linkedin.com,GDSC-AIT mentioned you in a post,1970-01-01 05:30:45.328,06:32,GDSC-AIT mentioned you in a post View: Join th...

In [116]:
df.head()

,sendername,senderemail,subject,date,time,payload
0,Aesha Dhakan,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,08:13,"Aesha sent an invite. Respond now. Hi Jenil, I..."
1,Divy Sharma,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,07:13,"Divy, Cybersecurity Researcher at Ahmedabad Cy..."
2,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data scientist”: CLARA Analytics - Senior Dat...,1970-01-01 05:30:45.328,06:43,Your job alert for data scientist in United St...
3,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data analyst”: The 1% Club - Data Analyst and...,1970-01-01 05:30:45.328,06:43,Your job alert for data analyst in India 30 ne...
4,LinkedIn,messages-noreply@linkedin.com,GDSC-AIT mentioned you in a post,1970-01-01 05:30:45.328,06:32,GDSC-AIT mentioned you in a post View: Join th...

In [117]:
df['month'] = df.date.dt.month_name()

In [118]:
df['days'] = df.date.dt.day_name()

In [119]:
df['days'].unique()

array(['Thursday'], dtype=object)

In [120]:
df

,sendername,senderemail,subject,date,time,payload,month,days
0,Aesha Dhakan,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,08:13,"Aesha sent an invite. Respond now. Hi Jenil, I...",January,Thursday
1,Divy Sharma,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,07:13,"Divy, Cybersecurity Researcher at Ahmedabad Cy...",January,Thursday
2,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data scientist”: CLARA Analytics - Senior Dat...,1970-01-01 05:30:45.328,06:43,Your job alert for data scientist in United St...,January,Thursday
3,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data analyst”: The 1% Club - Data Analyst and...,1970-01-01 05:30:45.328,06:43,Your job alert for data analyst in India 30 ne...,January,Thursday
4,LinkedIn,messages-noreply@linkedin.com,GDSC-AIT mentioned you in a post,1970-01-01 05:30:45.328,06:32,GDSC-AIT mentioned you in a post View: Join th...,January,Thursday
...,...,...,...,...,...,...,...,...
95,Akshat Khandelwal,invitations@linkedin.com,"Jenil, please add me to your LinkedIn network",1970-01-01 05:30:45.309,20:32,"Hi Jenil Jani, Id like to join your LinkedIn n...",January,Thursday
96,Maulik Mangukiya,invitations@linkedin.com,"Jenil, please add me to your LinkedIn network",1970-01-01 05:30:45.309,16:45,"Hi Jenil Jani, Id like to join your LinkedIn n...",January,Thursday
97,LinkedIn,messages-noreply@linkedin.com,"Jenil, you’re getting noticed",1970-01-01 05:30:45.309,13:55,Your profile is looking great Your work and ac...,January,Thursday
98,hod it (via Google Sheets),drive-shares-dm-noreply@google.com,"Spreadsheet shared with you: ""8_IT_SUMMER_INTE...",1970-01-01 05:30:45.309,05:03,Ive shared an item with you: 8_IT_SUMMER_INTER...,January,Thursday
99,Dr Leena Patel,invitations@linkedin.com,"Jenil, please add me to your LinkedIn network",1970-01-01 05:30:45.308,18:43,"Hi Jenil Jani, Id like to join your LinkedIn n...",January,Thursday

In [121]:
df.columns

Index(['sendername', 'senderemail', 'subject', 'date', 'time', 'payload',
       'month', 'days'],
      dtype='object')

In [122]:
df['senderemail'].unique()

array(['invitations@linkedin.com', 'jobalerts-noreply@linkedin.com',
       'messages-noreply@linkedin.com', 'noreply@glassdoor.com',
       'info@meetup.com', 'jobs-listings@linkedin.com',
       'no-reply@accounts.google.com', 'newsletters-noreply@linkedin.com',
       'no-reply@amazonaws.com', 'Coursera@m.learn.coursera.org',
       'no-reply-aws@amazon.com', 'notifications-noreply@linkedin.com',
       'no-reply@mail.instagram.com', 'hr@finanvo.in',
       'ravidholariya700@gmail.com', 'info@email.meetup.com',
       'linkedin@e.linkedin.com', 'budgets@costalerts.amazonaws.com',
       'hr@pranshtech.com', 'freetier@costalerts.amazonaws.com',
       'no-reply@signup.aws', 'noreply@github.com',
       'anomalydetection@costalerts.amazonaws.com',
       'chitchat@jollyhires.com', 'justin+hacksquad@novu.co',
       'drive-shares-dm-noreply@google.com'], dtype=object)

In [123]:
primary_mails = ['jobalerts-noreply@linkedin.com', 'messages-noreply@linkedin.com',
                 'no-reply@accounts.google.com', 'hr@finanvo.in', 'hr@pranshtech.com',
                 'drive-shares-dm-noreply@google.com','ravidholariya700@gmail.com',
                 'noreply@github.com','anomalydetection@costalerts.amazonaws.com']

promotion_mails = ['invitations@linkedin.com', 'info@meetup.com','chitchat@jollyhires.com',
                   'newsletters-noreply@linkedin.com']

df['mail_category'] = df['senderemail'].apply(lambda x: 'primary' if x in primary_mails else ('promotion' if x in promotion_mails else 'uncategorized'))

In [124]:
df.head()

,sendername,senderemail,subject,date,time,payload,month,days,mail_category
0,Aesha Dhakan,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,08:13,"Aesha sent an invite. Respond now. Hi Jenil, I...",January,Thursday,promotion
1,Divy Sharma,invitations@linkedin.com,I want to connect,1970-01-01 05:30:45.328,07:13,"Divy, Cybersecurity Researcher at Ahmedabad Cy...",January,Thursday,promotion
2,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data scientist”: CLARA Analytics - Senior Dat...,1970-01-01 05:30:45.328,06:43,Your job alert for data scientist in United St...,January,Thursday,primary
3,LinkedIn Job Alerts,jobalerts-noreply@linkedin.com,“data analyst”: The 1% Club - Data Analyst and...,1970-01-01 05:30:45.328,06:43,Your job alert for data analyst in India 30 ne...,January,Thursday,primary
4,LinkedIn,messages-noreply@linkedin.com,GDSC-AIT mentioned you in a post,1970-01-01 05:30:45.328,06:32,GDSC-AIT mentioned you in a post View: Join th...,January,Thursday,primary

In [125]:
df['mail_category'].value_counts()

mail_category
promotion        35
uncategorized    34
primary          31
Name: count, dtype: int64